[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-operator = {git = "https://github.com/charmed-kubernetes/pytest-operator.git@multimodel"}
lightkube = ">=0.10.0"
flake8 = "*"
black = "*"
ipdb = "*"
tenacity = "*"

[packages]
ops = ">=1.2.0"
lightkube = "*"
lightkube-models = "*"
oci-image = {git = "https://github.com/juju-solutions/resource-oci-image/"}

[requires]
python_version = "3.8"
